@model KillCity.Contract.Model.AuthInfo
@{
    ViewData["Title"] = $"Убить город: {(Model.IsAuth ? Model.UserName : string.Empty)}";
}

<div class="text-center">
    <h1 class="display-4">Меню</h1>
    @if (Model.IsAuth)
    {
        <p><a href="Game/Index">Играть</a></p>
        <p><a href="User/Settings">Настройки</a></p>
        <p><a href="User/LogOut">Выйти</a></p>
    }
    else
    {
        <p><a href="User/Auth">Войти</a></p>
    }

    <p><a href="About">Об игре</a></p>
    <p><a href="Privacy">Privacy policy</a></p>
    
</div>
